@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700);body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

i,
span {
  display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: stretch;
          align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #3c4b64;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}

#sidebar.active {
  min-width: 80px;
  max-width: 80px;
  text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
  display: none;
}

#sidebar.active .sidebar-header strong {
  display: block;
}

#sidebar ul li a {
  text-align: left;
}

#sidebar.active ul li a {
  padding: 20px 10px;
  text-align: center;
}

#sidebar.active span {
  display: none;
}

#sidebar.active ul li a i {
  margin-right: 0;
  display: block;
  font-size: 1.8em;
  margin-bottom: 5px;
}

#sidebar.active ul ul a {
  padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
  top: auto;
  bottom: 10px;
  right: 50%;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
}

#sidebar .sidebar-header {
  padding: 20px;
  background: rgba(0, 0, 21, 0.2);
}

.sidebar-footer {
  background: rgba(0, 0, 21, 0.2);
  width: 100%;
  color: #fff;
  position: absolute;
  bottom: 0;
  text-align: right;
}

.sidebar-footer a {
  text-align: right !important;
}

#sidebar .sidebar-header strong {
  display: none;
  font-size: 1.8em;
}

#sidebar ul.components {
  padding: 20px 0;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #fff;
  background: #f9b115;
}

#sidebar ul li a i {
  margin-right: 10px;
}

#sidebar ul li a.router-link-exact-active,
a[aria-expanded=true] {
  color: #fff;
  background: #f9b115;
}

a[data-toggle=collapse] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386D5;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  min-height: 100vh;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    margin-left: -80px !important;
  }

  .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
  }

  #sidebar.active {
    margin-left: 0 !important;
  }

  #sidebar .sidebar-header h3,
  #sidebar .CTAs {
    display: none;
  }

  #sidebar .sidebar-header strong {
    display: block;
  }

  #sidebar ul li a {
    padding: 20px 10px;
  }

  #sidebar ul li a span {
    font-size: 0.85em;
  }

  #sidebar ul li a i {
    margin-right: 0;
    display: block;
  }

  #sidebar ul ul a {
    padding: 10px !important;
  }

  #sidebar ul li a i {
    font-size: 1.3em;
  }

  #sidebar {
    margin-left: 0;
  }

  #sidebarCollapse span {
    display: none;
  }
}

.content-header {
  border-bottom: 1px solid #3c4b64;
  padding: 9px;
}

.header-component {
  display: inherit;
  text-align: right;
  position: absolute;
  right: 1rem;
}

.header-component .c-avatar img {
  border-radius: 50%;
}

.header-component .c-header-nav-link span {
  position: absolute;
  left: 30%;
  top: -10%;
}

.header-component .c-avatar {
  margin-top: -1rem;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.login-container {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 1, 0.8)), to(rgba(0, 0, 1, 0.8))), url("/images/loginbg.jpeg");
  background: linear-gradient(rgba(0, 0, 1, 0.8), rgba(0, 0, 1, 0.8)), url("/images/loginbg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.login-container .btn-success {
  width: 100%;
}

.login-container .container {
  padding-top: unset;
  padding-bottom: unset;
}

.login-container .login-img {
  background: url("/images/loginbanner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.login-container .btn:first-child p {
  color: #fff;
}

.login-container .login-col-two .btn {
  width: 100%;
  height: 50%;
}

.login-container .justify-content-center {
  position: relative;
  top: 50%;
  -webkit-transform: perspective(1px) translateY(-50%);
          transform: perspective(1px) translateY(-50%);
}

