<template>
    <div class="login-container">
        <div class="row justify-content-center">
            <div class="col-md-8 rounded-0">
                <div class="card card-default rounded-0 border-0">
                    <div class="card-header">PROJECT LOGIN</div>

                    <div class="card-body rounded-0 nopadding">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-3 nopadding login-img"></div>
                                <div class="col-md-2 login-col-two nopadding">
                                    <button type="button" class="btn btn-success rounded-0 nopadding">
                                        <i class="fas fa-sign-in-alt"></i>
                                        <p>Login</p>
                                    </button>
                                    <button type="button" class="btn btn-light rounded-0 nopadding">
                                        <i class="fad fa-luchador"></i>
                                        <p>Forgot Password</p>
                                    </button>
                                </div>
                                <div class="col-md-7 rounded-0">
                                    <form method="POST" action="/login">
                                        <div class="form-group row">
                                            <div class="col-md-12">
                                                <input id="email" type="email" class="form-control rounded-0" placeholder="Email" v-model="email" required autofocus>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-md-12">
                                                <input id="password" type="password" class="form-control rounded-0" placeholder="Password" v-model="password" required>
                                            </div>
                                        </div>

                                        <div class="form-group row ">
                                            <div class="col-md-12">
                                                <button type="submit" class="btn btn-success rounded-0" @click="handleSubmit">
                                                    Login
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data(){
            return {
                email : "",
                password : ""
            }
        },
        methods : {
            handleSubmit(e){
                e.preventDefault()

                if (this.password.length > 0) {
                    axios.post('api/auth/token', {
                        withCredentials: true,
                        headers: {
                            "Accept": "application/json",
                            "Content-Type": "application/json"
                        }
                        },{
                        auth: {
                            username: this.email,
                            password: this.password
                        }
                    }).then((response) => {
                        localStorage.setItem('jwt', response.data.data.attributes.token)
                        if (localStorage.getItem('jwt') != null){
                            this.$router.go('/')
                        }
                    }).catch(function(error) {
                        console.error(error);
                    });

                }
            }
        },
        beforeRouteEnter (to, from, next) { 
            if (localStorage.getItem('jwt')) {
                return next('dashboard');
            }

            next();
        }
    }
</script>