<template>
    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>PROJECTLOGO</h3>
                <strong>PL</strong>
            </div>
            <ul class="list-unstyled components">
                <li>
                    <router-link to="/">
                        <i class="fas fa-image"></i>
                        <span>Dashboard</span>
                    </router-link>
                </li>
                <li>
                    <router-link to="/users">
                        <i class="fas fa-users-cog"></i>
                        <span>Users</span>
                    </router-link>
                </li>
                <li>
                    <router-link to="/configuration">
                        <i class="fas fa-tasks"></i>
                        <span>Configuration</span>
                    </router-link>
                </li>
                <li class="sidebar-footer" id="sidebarCollapse">
                    <a href="#">
                        <i class="fas fa-chevron-left"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <div id="content">
            <div class="content-header row">
                <div class="input-group col-md-4">
                    <input type="text" class="form-control" placeholder="Search ..." aria-label="Search ..." aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button"><i class="fas fa-search"></i></button>
                    </div>
                </div>
                <div class="input-group col-md-8">
                    <ul class="list-unstyled header-component">
                        <li data-v-1bd10995="" class="c-header-nav-item mx-2 dropdown nav-item">
                            <a data-v-1bd10995="" href="#" target="_self" class="c-header-nav-link">
                                <i class="fas fa-bell"></i>
                                <span data-v-1bd10995="" pill="" class="badge badge-danger">5</span>
                            </a>
                        </li>
                        <li data-v-1bd10995="" class="c-header-nav-item mx-2 dropdown nav-item">
                            <a data-v-4c9bcc7e="" href="#" target="_self" class="c-header-nav-link">
                                <div data-v-4c9bcc7e="" class="c-avatar">
                                    <img data-v-4c9bcc7e="" src="images/profile.jpg" class="c-avatar-img ">
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Dashboard</a>{{ path }} </li>
                </ol>
            </nav>
            <slot />
        </div>
    </div>
</template>

<script>
export default {
    computed: {
        path() {
            return this.$route.path;
        }
    }
};
</script>